:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
 font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
 color: aliceblue;
 background-image: url(https://img.goodfon.ru/original/1920x1080/1/3c/art-narisovannyy-peyzazh-les-3447.jpg);
 background-repeat:no;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
a{
 color:rgb(255, 255, 255);   
 text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
input[type="checkbox"] {
  margin-right:6px;
}